# An opinionated .editorconfig inspired by the one used by AirBnb (https://github.com/airbnb/javascript/blob/master/.editorconfig)
; More information at http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

[*.php]
indent_size = 4

[*.blade.php]
indent_size = 2

[composer.{json, lock}]
indent_size = 4
